
// Fonts
@import url(https://fonts.googleapis.com/css?family=Muli);

// Variables

@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

*{
	padding: 0px;
	margin: 0px;
}
// background image and font-family
body {
	font-family: 'Muli', sans-serif;
	background-image: url('../images/background.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}

// header styling 

header {
	color: $light;
	width: 100%;
	padding: 5px;
	padding-left: 5px;
	display: flex;
    justify-content: space-between;
	
	h1 {
		font-size: 1em;
	}

	p {
		font-size: 1em;
	}

}

//bottom navigation, potisioning and styling

#bottom-nav {
	color: $light;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 10px;

	ul{
		padding: 0;
		width: 100%;

		li{
			display: inline-table;
			font-size: 2.5em;
			width: (100%/4);
			text-align: center;
			float: left;
    		box-sizing: border-box;

			a {
				color: $light;
				width: 100%;
				display: block;
			}	
		}

		li:nth-child(1n+2) {
			border-left: solid 0.5px $light;
		}

	}

}

//styling for active in navigation 

.active {
	color: $brand-secondary;
}



//user

#userinfo {
	margin-top: 10px;
	margin-bottom: 10px;

	#userimage {
		width: 100px;
		height: 100px;
		border-radius: 75px;
		-webkit-border-radius: 75px;
		-moz-border-radius: 75px;
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	h2 {
		text-align: center;
		font-size: 1.5em;
		color: $light;
		margin: 15px 0px;
	}
}

#user-nav {
	color: $light;
	width: 100%;

	ul{
		padding: 0;
		width: 100%;

		li{
			display: inline-table;
			font-size: 1.5em;
			width:(100%/3);
			text-align: center;
			

			a {
				color: $light;
				background-color: $brand-color-dark;
				width: 100%;
				display: block;	
			}

			.active-button {
				background-color: $brand-secondary;
				}	
		}

	}
}


// history

#history {
	article {
		display: block;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		background-color: $light;
		padding: 3px;
		margin-bottom: 10px;

		div{
			display: flex;
			justify-content: space-between;

			h5 {
				color: $dark;
				margin: 0;
				padding: 0;
				font-size: 1.3em;
			}

			h6 {
				color: $brand-color-dark;
				margin: 0;
				padding: 0;
			}

			.balance {
				color: $brand-secondary;
				margin: 0;
				padding: 0;
				font-size: 1.3em;
			}

			.sum {
				color:dark;
				margin: 0;
				padding: 0;
			}
		}
	}

}

//stats 

#stats {

	#top-stats {
		display: inline-block;
		text-align: right;
		width: 95%;
		margin-right: auto;
		margin-left: auto;

		p {
			display: inline;
			padding-bottom: 0;
			font-size: 1.2em;
		}

	}

	p:nth-child(1){
		border-right: solid 1px $dark;
		color: $brand-secondary;
		padding-right: 5px;
	}

	p:nth-child(2){
		color: $dark;
		padding-left: 5px;
	}

	article {
		display: flex;
		justify-content:space-between;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		background-color: $light;
		padding: 3px;
		margin-bottom: 10px;

		div{
			display: inline-block;
			color: $brand-secondary;
			border-right: solid 1px $dark;
			font-size: 2em;
			width: 15%;
			text-align: center;

		}

		h5{
			display: inline-block;
			color: $dark;
			font-size: 1.3em;
			margin: 0;
			padding-top: 10px;
		}

		.current {
			display: inline-block;
			color: $brand-secondary;
			font-size: 1.5em;
			border-right: solid 1px $dark;
			margin: 0;
			padding-right: 8px;
		}

		.max {
			display: inline-block;
			color: $dark;
			font-size: 1.5em;
			margin: 0;
		}
	}

}

//bagdes

#bagdes {

	article {
			display: block;
			justify-content:space-between;
			width: 95%;
			margin-left: auto;
			margin-right: auto;
			background-color: $light;
			padding: 3px;
			margin-bottom: 10px;

			div{
				display: inline-block;
				color: $brand-secondary;
				border-right: solid 1px $brand-secondary;
				font-size: 2em;
				width: 15%;
				text-align: center;

			}

			.inactive-bagde{
				color: $dark;
				border-right: solid 1px $dark;
			}

			h5{
				display: inline-block;
				color: $dark;
				font-size: 1em;
				margin: 0;
				padding-top: 8px;
			}
		}
}

// schedule


.col-md-6{
	padding: 0;
	width: 95%;
	display:flex;
	margin-right: auto;
	margin-left: auto;
	justify-content:space-between;
}

#schedule{
	width: 80%;
	text-align: center;
	margin: 0;
	display: block;
	margin-bottom: 5%;

	p{
		color: $light;
		font-size: 1.3em;
		margin: 0;
		margin-bottom: 5px;
	}

	ul{
		padding: 0;
		display: flex;
		justify-content: space-between;

		li{
			display: inline-table;
			width: (80%/7);
			text-align: center;

			a {
				color: $light;
				font-size: 1.2em;
				text-decoration: none;

				.date{
					color: $brand-color;
					font-size: 0.9em;
					font-weight: lighter;
				}
			}

			a:active {
				text-decoration: none;
				color: $brand-secondary;
			}

			a:hover {
				text-decoration: none;
				color: $brand-secondary;
			}
		}
	}
}

.schedule-button {
	display: inline;
    background: none;
    border: none;
    color: $brand-color;
    font-size: 1.3em;
    width: 10%;

} 

.panel {
	background-color: $light;
	width: 100%;
	border-style: none;
	padding: 10px;

	.calendarcard-top{
		display: flex;

		div{
			width: 50%;
		}
		ul{
			list-style: none;
			padding: 0;
			display: inline-block;

			li:nth-child(1){
				font-size: 1.7em;
				color: $dark;
				margin-bottom: 10px;
			}

			li:nth-child(2){
				font-size: 1em;
				color: $brand-color-dark;
				font-style: italic;
				margin-bottom: 5px;
			}

			li:nth-child(3){
				font-size: 1.2em;
				color: $dark;
				font-weight: lighter;
			}

		}

		.start-time {
			color: #f36c37;
   			font-size: 6em;
    		font-weight: bold;
    		text-align: right;
    		-webkit-margin-before: 0;
    		-webkit-margin-after: 0;
    		line-height: 0.9;

			sup{
				font-size: 0.5em;
			}
		}

		.end-time {
			color: $brand-color-dark;
			font-size: 1.2em;
			text-align: right;
			
		}
	}

	.calendarcard-content{

		p:nth-child(1){
			color: $brand-color;
			text-align: center;
			font-style: italic;
			font-size: 1.2em;
			margin-bottom: 30px;
			margin-top: 10px;
		}

		p:nth-child(2){
			color: $dark;
			text-align: center;
			font-size: 3em;
			font-weight: bold;

			i {
				color: $brand-secondary;
			}
		}

		p:nth-child(3){
			color: $dark;
			text-align: center;
			font-size: 1em;
			margin-bottom: 30px;
		}
	}

	button {
		font-size: 1em;
		padding: 10px;
	}



	.btn-danger, .btn-danger:disabled {
		color: $light;
    	background-color: $brand-secondary;
   		border-style: none;
   	}

	.btn-success, .btn-success:disabled {
		color: $light;
   		background-color: $brand-color;
   		border-style: none;	
	}
	
}

.loader {
	color: $brand-color;
	width: 100%;
	text-align: center;
	font-size: 4em;
	display: block;
}
